{% extends "mail/layout.html" %}

{% block body %}
    <div class="wrapper">
        <div class="form-signin" >
            <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
                <h1 class="form-signin-heading">REGISTER</h1>
                {% if message %}
                    <div style="background-color: rgba(255,0,0,0.34); text-align: center">{{ message }}</div>
                    <br>
                {% endif %}
                <input type="email" class="form-control" name="email" placeholder="Email Address" required autofocus/>
                <br>
                <input type="password" class="form-control" name="password" placeholder="Password" required/>
                <br>
                <input type="password" class="form-control" name="confirmation" placeholder="Confirm Password" required/>
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                <br>
            </form>
            Already have an account? <a href="{% url 'login' %}">Log In here.</a>
        </div>
    </div>
{% endblock %}